<!-- views/partials/footer.ejs -->
    <div class="footer-info bg-dark text-white fixed-bottom container-fluid">
        <div class="container-fluid text-center align-middle">
            <p> By Edward Jiménez - 2018 <span class="tab-space">|<span class="tab-space">
            Github <a class="btn-outline-danger" href="https://github.com/edlobox/Nightlife-Coordination-App"> Repository </a> <span class="tab-space">|<span class="tab-space">
            Powered by <a class="btn-outline-danger" href="https://www.yelp.com/" target="_blank"> Yelp</a></p>
        </div>
    </div>
