<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head %>
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<% include ./partials/header %>
		<!-- End Navigation -->
		<!--
		<header class="header-nightsky">
			<div class="container text-center">
				<div>
            <h1>Welcome to Voting App</h1>
						<h5>This is a proyect for Freecodecamp.</h5>
            <p class="lead">Below are all the polls, select a poll to see the results and you can vote too.</p>
						<a href="https://github.com/edlobox/Nightlife-Coordination-App" class="btn btn-outline-light" role="button" aria-disabled="true">Learn more about</a>
						<hr>
						<P class="lead"> If you want create a poll, you need be logged in.</p>
        </div>
			</div>
		</header>
		-->
		<!-- The Poll's List -->
		  <% include ./partials/body-partial %>
		<!-- Footer -->
		<footer>
			<% include ./partials/footer %>
		</footer>
		<!-- End Footer -->
</body>
</html>
