@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
  height:100%;
  font-family: 'Poppins', sans-serif;
}
body {
  align-items:center;
  background: #D0B8AC;
}

header {
  padding: 150px 0 100px;
}
section {
  padding: 20px 0;
}
footer{
  padding-top: 60px;
}
nav{
  height: 100px;
}
nav a {
  margin-left: .8rem;
  margin-right: .8rem;
}
span.tab-space {
  padding-left:2em;
}

.header-nightsky {
    color: white;
    background: url("/views/img/nightsky.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 50px;
}
.navbar-brand
{
  font-size: 30px;
  margin: 0px;
  margin-left: 2rem;
}
.footer-info{
  height: 60px;
  display:flex;
  align-items:center;
}

/*-----------------------RESULT CSS----------------------------------*/
.search-result {
  background: #D1BDB3;
  margin-top: 20px;
}
.search-result .col-md-2 {
  border-right: 1px dotted #ccc; min-height: 140px;
}
.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}
.search-result ul li {
  font: 400 normal .85em "Roboto", sans-serif;
  line-height: 30px;
}
.search-result ul li i {
  padding-right: 5px;
}
.search-result .col-md-7 {
  position: relative;
}
.search-result h3 {
  font: 500 normal 1.375em "Roboto",sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}
.search-result h3 > a, .search-result i {
  color: #248dc1 !important;
}
.search-result p {
  font: normal normal 1.125em "Roboto",sans-serif;
}
.search-result span.border {
  display: block; width: 97%;
  margin: 0 15px;
  border-bottom: 1px dotted #ccc;
}
/*-----------------------RESULT CSS----------------------------------*/
